@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #6B72E1;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #5258B8;
    color: white;
}

.banner {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.3) 100%), url('https://img.freepik.com/photos-gratuite/groupe-chiots-mignons-assis-regarder-camera-interieur-generee-par-intelligence-artificielle_188544-113182.jpg?t=st=1743264134~exp=1743267734~hmac=faa1eded2bd2ee30a9d62c74d2f4e13097e0cfd6b898f0b2e7b9489b0495f565&w=2000');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  margin: 0;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
}

.card {
  background: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 15px;
  flex-basis: calc(33.333% - 40px);
  min-width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.card p {
    font-size: 15px;
    opacity: 0.7;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 0 15px;
    flex-grow: 1;
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 40px);
  }
}

@media (max-width: 540px) {
  .card {
    flex-basis: calc(100% - 40px);
  }
  .banner h1 {
    font-size: 36px;
  }
  .banner h2 {
    font-size: 24px;
  }
}
